body {
    background-color: #222;
    color: white;
    font-family: Verdana;
}

table {
    border-collapse: collapse;
}

thead {
    font-weight: bold;
}

td {
    border: solid 2px;
    padding: 8px;
}