body {
    background-color: #222;
    color: white;
    font-family: Verdana;
}

table {
    border-collapse: collapse;
}

thead {
    font-weight: bold;
}

td {
    border: solid 2px;
    padding: 0.5em;
    text-align: center;
}

#add-book {
    display: none;
    position: absolute;
    padding: 0.5em;
    backdrop-filter: blur(1em);
    border: solid 1px;
    border-radius: 1em;
}

td > button {
    font-weight: bold;
}